spring:
  docker:
    compose:
      enabled: true
      file: compose-local.yaml
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
logging:
  config: classpath:logback-local.xml
  level:
    org.hibernate.orm.jdbc.bind: TRACE