<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/main/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <div style="display: flex; align-items: center;">
                            <form th:if="${item.getCount() > 0}"
                                  th:action="${'/cart/items/' + item.getId() + '?action=minus'}"
                                  method="post">
                                <button type="submit">-</button>
                            </form>

                            <span th:text="${item.getCount()}"
                                  th:style="${item.getCount() == 0} ? 'margin-right: 10px' : ''">
                                </span>

                            <!-- Plus button (shown when count > 0) -->
                            <form
                                    th:action="${'/cart/items/' + item.getId() + '?action=plus'}"
                                    method="post">
                                <button type="submit">+</button>
                            </form>

                            <!-- Delete button -->
                            <form
                                    th:action="${'/cart/items/' + item.getId() + '?action=delete'}"
                                    method="post">
                                <button type="submit" style="float:right;">&cross;</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/cart/buy" method="post" th:if="${!empty}">
                <button>Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>