spring:
  docker:
    compose:
      enabled: true
      file: payment/compose-local.yaml
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true